
<div class="col-md-4 grid-margin stretch-card">
    <div class="col-md-12">
        <div class="card-body">
            <h1 class="card-title">Welcome to Admin Panel</h1>

            <div class="template-demo">
                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Slide" asp-action="Index">Slides</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Color" asp-action="Index">Colors</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Size" asp-action="Index">Sizes</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Tag" asp-action="Index">Tags</a>
                </button>

                <button type="button" class="btn btn-inverse-info btn-icon-text">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </button>
            </div>
        </div>
    </div>
</div>
