@model Tag

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Detail</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <div class="col-6">
                                    
                                    <h2> Name: @Model.Name</h2>
                                    <p>@Model.ProductTags</p>
                                    <a class="btn btn-inverse-primary" asp-action="Index" asp-controller="Tag"><i class="mdi mdi-arrow-left-bold"></i></a>
                                    <a asp-action="update" asp-controller="Tag" asp-route-id="@Model.Id" class="btn btn-inverse-success btn-success"><i class="mdi mdi-border-color"></i></a>
                                    <a asp-action="delete" asp-controller="Tag" asp-route-id="@Model.Id" class="btn btn-inverse-danger btn-danger"><i class="mdi mdi-delete"></i></a>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>